<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zff.web.dao.WxTextDao" >
	<resultMap type="com.zff.web.po.WxTextPo" id="BaseResultMap">
		<id column="tt_text_id" property="ttTextId" jdbcType="INTEGER" />
		<result column="tt_greet" property="ttGreet" jdbcType="VARCHAR" />
		<result column="tt_answer" property="ttAnswer" jdbcType="VARCHAR" />
		<result column="create_by" property="createBy" jdbcType="INTEGER" />
		<result column="create_date" property="createDate" jdbcType="DATE" />
		<result column="update_by" property="updateBy" jdbcType="INTEGER" />
		<result column="update_date" property="updateDate" jdbcType="DATE" />
		<result column="opt_counter" property="optCounter" jdbcType="INTEGER" />
		<result column="mark_for_delete" property="markForDelete" jdbcType="BIT" />
	</resultMap>
</mapper>